#imgSnoticia{
	
	background-size: cover;
	height: inherit;
	background-repeat: no-repeat;
	background-position: center;

}
#textoNoticia{
	min-height: 100px;
}
article{
	margin-top: 30px;
	border-left: 10px solid black;
}
#fechaNoticia{
	background-color: var(--fondoNegro);
	color: white;
}
.r h1{
	font-size: 24px;
}